body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  user-select: none;
  background-color: #313131;
  color: #fafafa;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.socials {
  height: 20dvh;
  width: 70dvw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.intro {
  width: 80dvw;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

h1 {
  font-size: 7dvh;
  margin: 2dvh;
}

p {
  color: #fafafa;
  text-align: left;
  font-size: 2dvh;
  line-height: 3dvh;
  padding: 1dvh;
}

a {
  color: #fafafa;
  font-size: 2dvh;
  padding: 1dvh;
}

p > a {
  padding: 0;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
